#app .header {
  min-height: 50vh;
}

#app .bg-img {
  background-position: center;
  background-size: cover;
}

#app .font-biryani {
  font-family: 'Biryani', sans-serif;
}

#app .text-outline {
  text-shadow: black 0 0 2px
}

#app .letter-spaced-s {
  letter-spacing: 2px;
}

#app .letter-spaced-m {
  letter-spacing: 4px;
}

#app .text-gold {
  color: #CF9B00;
}

#app .bg-dark-med {
  background-color: rgba(33,37,41,.5)!important
}
